* {
  box-sizing: border-box; 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}


html,
body {
  width: 100%;
  height: 100vh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 100%;
  height: fit-content;
  max-width: 1200px;
}

li {
  list-style: none;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.slider {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 30px;
}

.slider-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: normal;
  -ms-overflow-style: none; /* IE and Edge */
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  scrollbar-width: none; /* Firefox */
}

.slider-content::-webkit-scrollbar {
  display: none;
}

.slider-item {
  scroll-snap-align: start;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  width: 100%;
  min-width: 100%;
  gap: 30px;
}

.slider-item-image {
  width: 60%;
  border-radius: 8px;
}

.slider-description {
  font-size: 1.3em;
  padding-right: 10px;
}

.slider-arrow__left,
.slider-arrow__right {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  color: #fafafa;
  width: 44px;
  min-width: 44px;
  height: 44px;
  border-radius: 4px;
  font-size: 32px;
}

.slider-arrow__left {
  margin-right: 10px;
}
.slider-arrow__right {
  margin-left: 10px;
}

.slider-nav {
  padding: 30px 10px;
}

.slider-dots {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 12px;
}

.slider-dot  {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #121212;
  opacity: .4;
  transition: opacity .3s ease-in-out;
}

.slider-dot.active {
  opacity: 1;
}